@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		outline: none;
		text-decoration: none;
		font-family: 'Josefin Sans', Sans-serif;
	}
	body{
		background: #6c98a3;
	}
	.wrapper{
		max-width: 350px;
		width: 100%;
		height: auto;
		background: #dde1e7;
		padding: 60px 45px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 30px;
	}
	.wrapper .name{
		margin-bottom: 20px;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        color: #6c98a3;
	}
	.wrapper .social-media{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .wrapper .social-media .item{
        margin: 0 5px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border: 2px solid #6c98a3;
        border-radius: 50%;
        cursor: pointer;
        color: #6c98a3;
    }
    .wrapper .form .input-field{
    	position: relative;
        margin-bottom: 10px;
    }
    .wrapper .form .input-field .input{
        width: 100%;
        padding: 12px;
        padding-left: 30px;
        border: none;
        background: #eeeeee;
        border-radius: 30px;
    }
    .wrapper .form .btn{
        width: 70%;
        margin: 20px auto 0;
        background: #6c98a3;
        text-align: center;
        padding: 12px;
        border-radius: 25px;
    }
    .wrapper .form .btn a{
        color: #fff;
    }
    .wrapper .form .input-field i{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 14px;
        color: #1d2120;
    }


